.gallery__section {
	display: flex;
	align-items: space-between;
	flex-direction: column;
	gap: 4dvh;
	padding-top: 12dvh;
	height: 100dvh;
	max-height: 100dvh;
}

.gallery__section > div:first-child,
.gallery_photos { display: flex }

/* Cotnent Wrapper */
.gallery__section > div:first-child {
	height: auto;
	z-index: 2;
	position: relative;
	flex-direction: column;
	justify-content: center;
	text-align: center;

	& p {
		margin-inline: auto;
		max-width: 65dvw;
	}

	& div { margin-top: 2dvh }
}

.gallery_controls {
	& > * {
		display: inline-block;
		margin-inline: 1.5dvw
	}
}

.gallery_photos {
	position: relative;
	align-items: flex-end;

	& > div {
		display: flex;
		max-width: 25dvw;
		flex: 1;
	}

	& > div > img {
		object-fit: cover;
		width: 100%;
		height: 100%;
		max-height: 60dvh;
		border-radius: var(--radius-medium) var(--radius-medium) 0 0;
	}

	& > div:not(:first-child, :last-child) {
		& > img { max-height: 50dvh }
	}

	&::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background: linear-gradient(180deg,
			transparent 25%,
			rgb(var(--clr-prime-black)));
	}
}